@mixin multiple-columns-Darken($colors, $from ,$to) {
        $amount: 0;
        @for $colIndex from $from to $to {
          $amount: $amount + 10;
            .block-#{$colIndex} {
                background-color: darken($colors, $amount);
            }
        }
    }

@mixin multiple-columns-Lighten($colors, $from ,$to) {
        $amount: 0;
        @for $colIndex from $from to $to {
          $amount: $amount + 10;
            .block-#{$colIndex} {
               background-color: lighten($colors, $amount);
            }
        }
    }
    