@import "./_init.scss";
@import "_mixins.scss";
@import "_color.scss";

$baseSize: 14px;
html {
   font-family: 'Raleway', sans-serif;
   font-size: $baseSize;
}
body {
   background: $mainColor;
}

div {
   display: inline-block;
   height: 10%;
   width: 10%;
   align-items: center;
   text-align: center;
   font-size: 1.5em;
   border: 1px $borderColor solid;
   border-color: blue($color: #000000);
   background-color: $colorToDegradate;   
}

@include multiple-columns-Darken($colorToDegradate,1,5);
@include multiple-columns-Lighten($colorToDegradate,5,9);
